*{
    text-decoration: none;
    box-sizing: border-box;
    
}
body{
    font-family: 'Mulish', sans-serif;
}
.primary-color{
    color:#FF5400;
}

.primary-btn{
    background-color: #FF5400;
    max-height: 52px;
   border-radius: 8px;
   color: white;
   border:none;
   transition: 0.1s;
}

.primary-btn:hover{
transform: scale(1.2 );
}

.container{
    max-width: 73.125rem;
  margin:0 auto;
}
p{
    color: rgba(19, 19, 24, 0.70);
font-weight: 400;
line-height: 1.625rem;
}

/* ----------------------------------------- */

/* navbar */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo{
        display: flex;
        gap: 0.5rem;
      
}

.nav-links > a{
color:black;
margin-left: 1.2rem;
font-size: 1.2rem;
text-transform: capitalize;
transition: 0.1s;


}
a :hover{

    transform: scale(1.2);

}



/* ------------------------------------------------ */
/* banner-1 */

.banner-1{
    text-align: center;
    padding-top:6.625rem;
    padding-bottom: 6.625rem;
    background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    max-height: 500px;
    border-radius: 16px;
}
.banner-1 > h1{
    font-size: 4rem;
font-weight: 800;
}
.banner-1 > h6{
    
width: 42.25rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem;
margin:0 auto;
}

.input-field{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
max-width: 800px;
padding: 1rem;
margin: 0 auto;

}
.where-go{
    margin-right:1.5rem;
padding: 1rem;
border-radius: 5px;
border: none;
width: 9.375rem;
}

#when{
    margin-right:1.5rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;  
    width: 9.375rem;
}
#select-type{
    margin-right:1.5rem;
    padding:1rem;
    border-radius: 5px;
    border: none;
    width: 9.375;
}
.find-now{
   
    padding:1rem;
    border-radius: 5px;
    border: none;
    width: 9.375rem;
    color:white;
    transition: 0.1s;
    
}
.find-now:hover{
    transform: scale(1.2);
    
}

/* ----------------------------------------- */

/* banner-2 */


.banner-2{
    max-height: 550px;
    display: flex;
    justify-content: space-between;
    margin-top: 6.25rem;
    align-items: center;
}
.b2-description{
    max-width: 570px;
}
.b2-description > h1{
font-size: 2.5rem;
font-weight: 800;

}

.b2-description > ul{
    list-style-type: disc;
}
.b2-btn{
    padding:0.875rem 2.19rem;
}


/* ----------------------------------------------- */


.banner-3{
text-align: center;
margin-top: 6.25rem;
}
.banner-3 > h1{
    color: #131318;
font-size: 2.5rem;
font-weight: 800;

}
/* ------------------------------------------ */


/* banner-4   */
.wish-list-1, .wish-list-2, .wish-list-3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}



.grid-1{
    background-image: url("Images/Rectangle\ 5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    width: 35.81rem;
height: 18.75rem;
padding:8.25rem 14.125rem;

}
.grid-2{
    background-image: url("Images/Rectangle\ 8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    width: 35.81rem;

height: 18.75rem;
padding:8.25rem 14.125rem;
}
.grid-3{
    background-image: url("Images/Rectangle\ 6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    width: 23.38rem;
height:17.87rem;
padding:8.25rem;
}
.grid-4{
    background-image: url("Images/Rectangle\ 7.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    width:29.62rem;
height: 17.87rem;
padding:8.25rem;
 
}
.grid-5{
    background-image: url("Images/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    width: 17.12rem;
height: 17.87rem;
padding:8.25rem 5rem;
}
.grid-6{
    background-image: url("Images/Rectangle\ 11.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    width: 29.56rem;

height: 18.75rem; 
padding:8.25rem; 
}
.grid-7{
    background-image: url("Images/Rectangle\ 10.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    width: 42.06rem;
    height: 18.75rem; 
    padding:8.25rem;  
}




/* -------------------------------------------- */
.banner-5{
    text-align: center;
    margin-top: 6.25rem;
    }
    .banner-5 > h1{
        color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    
    }
    .banner-6-part1{
        display: flex;
        justify-content: space-between;
        margin-top: 6.25rem;
        gap:1rem;
    }
    .banner-6-left{
        padding:2rem;
        background-color: rgba(251, 181, 99, 0.05);

    }
    

    .banner-6-right{
        padding:2rem; 
        background: rgba(41, 206, 246, 0.05);
        border-radius: 8px;
    }
.fa-hotel, .fa-map-location-dot, .fa-tags{
    font-size: 3rem;
} 

.banner-6-part-2{
    padding:2rem; 
    background: rgba(251, 181, 99, 0.05);
    border-radius: 8px;
    text-align: center; 
    max-width: 573px;
    max-height: 284px;
    margin:0 auto;
}

/* ------------------------------------------------ */


.banner-7{
    text-align: center;
    margin-top: 6.25rem;
    }
    .banner-7 > h1{
        color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    
    }

    /* ------------------------------------------- */


    .deals-1, .deals-3{
        background-image: url("Images/Group\ 39.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      border-radius: 16px;
      padding:3.44rem 3.44rem 3.44rem 33.43rem;
      margin-top: 1.5rem;
    }

    .deals-content{
        background: rgba(255, 255, 255, 0.80);

        backdrop-filter: blur(2.5px);
        padding:3.13rem;
        border-radius: 1rem;
    }
    .timeline{
        display: flex;
        gap: 1rem;
       
       
    }
    .book-now-btn{
        padding:1rem;
        width:9.375rem;
    }


    .deals-2{

        background-image: url("Images/Group\ 40.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      border-radius: 16px;
      padding: 3.44rem 33.43rem 3.44rem 3.44rem ;
      margin-top: 1.5rem;

    }
    /* ------------------------------------------ */



    .package-div{
       text-align: center; 
        width: 100%;
        margin-top: 3.375rem;
    }
  .packages{
    width: 10rem;
    padding:1rem;

  }


  /* -------------------------------------------- */

  .banner-8{
    max-height: 550px;
    display: flex;
    justify-content: space-between;
    margin-top: 6.25rem;
    align-items: center;
}
.b8-description{
    max-width: 570px;
}
.b8-description > h1{
font-size: 2.5rem;
font-weight: 800;

}

.b8-description > ul{
    list-style-type: disc;
}
.b8-btn{
    padding:0.875rem 2.19rem;
}

/* -------------------------------------------- */


.newsletter-section{
margin-top: 6.25rem;
display: flex;
justify-content: space-between;

}
.n-left{
    padding:2.5rem;
    border-radius: 8px;
border:2px solid #FF5400;
line-height: 4rem;

}

.name, .email{
    padding:1rem;
    width: 24.57rem;
    border:none;
    background:rgba(19, 19, 24, 0.05);
    border-radius: 8px;




}

.subscribe{
    padding:1rem;
    width: 24.57rem;
    border:none;  
}

.n-right{
    background-image: url("Images/Rectangle\ 8\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 42rem;
     height: 26.375;
     border-radius: 1rem;
     position: relative;
    
}


.discount{
    background-color: #FF5400;
    color:white;
    padding:0.5rem;
    text-align: center;
    width:20.25rem;
height: 7.5rem;
border-radius: 1rem;
position:absolute; 
top:17.81rem;
bottom: 0;
right:0;
transform: rotate(-19.628deg);


}
/* --------------------------------- */

footer{
    padding:6.87rem;
    background:  rgba(19, 19, 24, 0.05);
    text-align: center;
    margin-top: 6.25rem;

}

.rakib-travel{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.contact{
    display: flex;
    gap:1rem;
    justify-content: center;

}

.contact-btn{
    font-size: 2rem;
    transition: 0.1s;
}
.contact-btn:hover{
    transform: scale(1.2);
}